//fonts
//@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Montserrat:300,400,700');

//Colors

//Breakpoints
$bp-s: 320px;
$bp-s: 480px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1280px;
//General
h1{
  color:red;
}
//Header

//Hero

//Body

//Footer
