//fonts
//@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Montserrat:300,400,700');

//Colors
$pink-darken-4: #880e4f;

//palette
$red: #b71c1c; //red darken 4
$yellow: #fdd835; // yellow darken 1
$black: #212121; //grey darken-4
$white: #fff; //white

//Breakpoints
$bp-s: 320px;
$bp-s: 480px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1280px;
//General
h1,h2,h3{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.h1{
  font-weight: 400;
  letter-spacing: 5px;
}
.indicator-item{
  height: 8px !important;
  width: 8px !important;
}
.indicator-item.active{
  background-color: $red !important;
}


//Customs
//Buttons
a.waves-effect.waves-light.btn.yellow.darken-1, a.waves-effect.waves-light.btn.red.darken-4 {
    background: rgba(255, 233, 25, 0.66) !important;
    border-radius: 20px;
}
//Header
#logo1{
  display: none;
}
@media screen and (min-width: $bp-m) {
  #logo1{
    display: block;
  }
  #logo2{
    display: none;
  }
}
//Hero

//Body

//About us
.us{
  .slider.slides{
  background: $black !important;
  color: $white !important;
}
}

//timeline
h3.h4{
  color: red;
}
.programa li {
    clear: both;
    overflow: hidden;
    margin-bottom: 3rem;
    padding-left: 2.3rem;
    position: relative;
    cursor: pointer;
}
.year {
    float: left;
    text-align: right;
    color: $yellow;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-right: 3rem;
}
.titulo {
    float: left;
    color: $black;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.4rem;
}
.programa .charla {
    float: left;
    width: 80rem;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    overflow: hidden;
    margin-top: 0.4rem;
}
.link {
    color: #e42f67;
}
.programa .charla img {
    float: left;
    width: 5.5rem;
    margin-right: 3rem;
}
.charla .nombre {
    font-weight: 700;
    color: #e42f67;
    margin-bottom: 0.5rem;
}
.programa li.cafe::before {
    background-image: url('/dist/img/circle.svg');
    background-repeat: no-repeat;
    width: 2.3rem;
}
.programa li.comida::before {
    background-image: url('/dist/img/circle.svg');
    background-repeat: no-repeat;
    background-position: 0 4px;
    width: 2.3rem;
}
.programa li.descanso::before {
    background-image: url('/dist/img/circle.svg');
    background-repeat: no-repeat;
    width: 2.3rem;
}
.programa li::before {
    position: absolute;
    content: " ";
    width: 2rem;
    height: 2rem;
    background: url('/dist/img/circle.svg');
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}
.programa ul::before {
    position: absolute;
    content: ' ';
    width: 0.3rem;
    height: 18rem;
    background-color: $red;
    left: 1.6rem;
}
.programa li:first-child::before,
.programa li:last-child::before {
    background-image: url('/dist/img/circle.svg');
    background-repeat: no-repeat;
}
@media screen and (max-width: 767px){
  li .charla img {
     display: none;
  }
}
//vocations
#vocations{
  background: url('/dist/img/vocations2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 480px;
  .tabs{
    background: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
//Footer
